<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @activity_instance.activity_id %>
</p>

<p>
  <strong>Goalperday:</strong>
  <%= @activity_instance.amount %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @activity_instance.description %>
</p>
